.newsletter-form-container__spinner {
    width: 48px;
    height: auto;
    display: none;
}

.newsletter-form-container__sucess-message {
    color: #add136;
    margin-top: 4px;
    margin-top: 8px;
    display: none;
}

.newsletter-form-container__spinner-active {
    display: block;
}
.ya__hide {
    display: none !important;
}
