.ya__btn-hubx-try-again {
    width: fit-content;
    background-color: #a3f8af;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;
    position: relative;
}

.ya__btn-hubx-try-again:hover {
}

.ya__btn-hubx-try-again__loading {
    background-image: url('/wp-admin/images/spinner-2x.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #eee;
    color: transparent;
}

.ya__order_data_column {
    h4 {
        font-size: 18px;
        padding: 12px 0;
        margin: 0;
        border-top: 1px solid #eee;
    }
    .ya__order_data_column__container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .ya__order_data_column__container-col {
        display: flex;
        gap: 4px;
    }
}

.ya__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: red;
}

.ya__order_data_column {
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;

        th,
        td {
            border: 1px solid #ccc;
            padding: 12px !important;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
            text-align: left;
        }
    }
}

.hubx-faild {
    background-color: #fea1a1;
}
.hubx-success {
    background-color: #a0d8b3;
}
.hubx-faild,
.hubx-success,
.hubx-none {
    border-radius: 4px;
    padding: 6px 12px;
    width: fit-content;
}

.hubx-none {
    background-color: #eee;
}
