.hide {
  display: none; }

.related-products__container .prodcut__tech-item {
  width: 24px;
  height: 21px; }

.related-products__container .prodcut__tech-item p {
  font-size: 12px; }

.related-products__container__title {
  font-size: 32px;
  font-weight: 600;
  margin: 96px 0 24px;
  text-align: center; }

.related-products-slider {
  position: relative;
  margin: 0 70px;
  z-index: 50; }

@media (max-width: 590px) {
  .related-products-slider {
    margin: 0 40px; }
  .related-products-slider .product__thumbnail-tech-container {
    width: auto; } }

.related-products-slider .btn-next-company {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -25px;
  width: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 50; }

.related-products-slider .btn-prev-company {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  width: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 50; }

.products-container .related-products-slider {
  position: relative;
  margin: 80px 0;
  z-index: 50; }

.swiper-category-companies {
  display: none; }

.active__slider {
  display: block; }
